[Desktop Entry]
Name=ClamAV Realtime
Comment=Realtime antivirus scanner with libClamAV
Exec=clamav-realtime
Icon=clamav-realtime
Terminal=false
Type=Application
MimeType=application/x-executable;
X-GNOME-Autostart-enabled=true



